@model IEnumerable<Kryptos.Models.UserLoginInformation>
@using System.Configuration

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{

    string UploadDirectory = ConfigurationManager.AppSettings["Image"];
    var img = UploadDirectory + "/" + "Default.png";

}

@{
    var Value="";
   
    if(TempData["Org"]!=null)
    {
       Value = TempData["Org"].ToString();
    }

}
@{
    var facilityvalue = "";
    if (TempData["fac"] != null)
    {
        facilityvalue = TempData["fac"].ToString();

    }
    }
    
 <input id="OrgValue" type="hidden" value="@Value" />
 <input id="FacValue" type="hidden" value="@facilityvalue" />


@{
    var Check = "";
    var userList = (Kryptos.Models.UserLoginInformation)ViewData["CURRENTUSER"];
    if (userList.IsOrganisationAdmin && userList.IsSuperAdmin == false)
    {
        Check = "Organization";
    }
    else if (userList.IsFacilityAdmin && userList.IsSuperAdmin == false)
    {
        Check = "Facility";
    }
}

      

<style>
    table {
        margin: 0 auto;
        width: 100%;
        clear: both;
        /*border-collapse: collapse;*/
        table-layout: fixed;
    }
</style>

        <input id="Org_Hidden" type="hidden" value="@Check" />
    
    <div id="popup1"></div>

    <div class="page-container">
        <div class="page-content-wrapper">

            <div class="page-content">
                <div class="container-fluid">
                    <div class="portlet box blue">
                        <div class="row" id="ListRow" style="display:none;">
                            <div class="col-md-12">
                                <div class="panel panel-default">

                                    <div class="panel-heading">
                                        <a href="#">Manage User </a> > Users List
                                        <button type="button" id="btnCreate" class="btn btn-warning pull-right" style="padding: 2px; margin-top: -3px;" onclick="CreateNewRecord()" style="margin:10px;">&nbsp;&nbsp;Create New User&nbsp;&nbsp; </button>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row" style="padding-left: 15px; padding-right: 15px; ">

                                            <div class="row" style="padding-left: 15px; padding-right: 15px; ">
                                                @* <div class="table-responsive">*@

                                                <table class="table table-bordered" id="usertable">
                                                    <thead>
                                                        <tr>
                                                            <th width="70px">User Pic</th>
                                                            <th width="100px">Username <label style="color:red;">*</label></th>
                                                            <th width="150px">Email ID <label style="color:red;">*</label></th>
                                                            <th width="100px">Contact No. <label style="color:red;">*</label></th>
                                                            <th width="100px">Organization<label style="color:red;">*</label></th>
                                                            <th width="100px">User Role</th>
                                                            <th width="100px">Status</th>
                                                            <th width="130px">Date of Registration</th>
                                                            <th width="170px">Actions</th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                                @*</div>*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                          
                            <div class="row">
                                <div id="notes" class="col-md-2"></div>
                            </div>

                            <div class="row" id="EditRow" style="display:none;">
                                <div class="col-md-2"></div>
                                <div class="col-md-12">
                                    <div class="panel panel-default">
                                        <div class="panel-heading"><a href="#" onclick="cancelClicked();">Manage User</a> &gt;<span id="sp1"></span></div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="content">
                                                    <form class="login-form" id="UsersForm" method="post">
                                                        <div class="col-md-12">
                                                            <div class="row">
                                                                @*<div class="col-md-4">*@
                                                                <div class="form-group" id="SuperAdminDiv">
                                                                    @*<label class="control-label visible-ie8 visible-ie9"></label>*@
                                                                    <div class="input-icon checkbox" id="Super_Checkbox">
                                                                        <label class="control-label">
                                                                            <input type="checkbox" id="chkIsSuperAdmin" name="IsSuperAdmin" onclick="return false">
                                                                            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                                                            <b>Super Admin</b>
                                                                        </label>
                                                                    </div>
                                                                </div>

                                                                <div class="form-group" id="chkIsOrgAdminDiv">
                                                                    @*<label class="control-label visible-ie8 visible-ie9"></label>*@
                                                                    <div class="input-icon checkbox" id="Org_checkbox">
                                                                        <label class="control-label">
                                                                            <input type="checkbox" id="chkIsOrgAdmin" name="IsOrgAdmin" onclick="return false">
                                                                            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                                                            <b>Organization Admin</b>
                                                                        </label>
                                                                    </div>
                                                                </div>

                                                                <div class="form-group" id="FacilityAdminDiv">
                                                                    @*<label class="control-label visible-ie8 visible-ie9"></label>*@
                                                                    <div class="input-icon checkbox" id="Facility_checkbox">
                                                                        <label class="control-label">
                                                                            <input type="checkbox" id="chkIsFacilityAdmin" name="IsFacilityAdmin" onclick="return false">
                                                                            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                                                            <b>Facility Admin</b>
                                                                        </label>
                                                                    </div>
                                                                </div>

                                                                <div class="form-group" id="NormalUserDiv">
                                                                    @*<label class="control-label visible-ie8 visible-ie9"></label>*@
                                                                    <div class="input-icon checkbox" id="Normal_Checkbox">
                                                                        <label class="control-label">
                                                                            <input type="checkbox" id="chkIsNormalUser" name="IsActive" onclick="return false" checked="checked">
                                                                            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                                                            <b>Standard User</b>
                                                                        </label>
                                                                    </div>
                                                                </div>

                                                                @*<div class="form-group">
                                                    <label class="control-label visible-ie8 visible-ie9"></label>
                                                    <div class="input-icon checkbox">
                                                        <label class="control-label">
                                                            <input type="checkbox" id="chkIsActive" name="IsActive">
                                                            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                                            <b>Activate User</b>
                                                        </label>
                                                    </div>
                                                </div>*@

                                                                @*</div>*@
                                                            </div>

                                                            <div class="row">
                                                                <div class="col-md-4">
                                                                    <div class="form-group">
                                                                        <label class="control-label visible-ie8 visible-ie9">Title</label>
                                                                        <span class="compulsory" style="color:red;">*</span>
                                                                        <a href="#" data-toggle="tooltip" title="Select Job Title of the user" tabindex="-1" style="float:right"><i class="fa fa-question-circle fa-lg"></i></a>
                                                                        <div class="input-icon">
                                                                            <select class="form-control" id="ddlTitle" name="Title"></select>
                                                                        </div>
                                                                    </div>

                                                                    @*<div class="form-group">*@
                                                                    <div class="form-group">
                                                                        <label class="control-label visible-ie8 visible-ie9" id="lblFirstName">First Name <span class="compulsory" style="color:red;">*</span></label>
                                                                        <a href="#" data-toggle="tooltip" title="Enter First Name" tabindex="-1" style="float:right"><i class="fa fa-question-circle fa-lg"></i></a>
                                                                        <div class="input-icon">
                                                                            <input class="form-control placeholder-no-fix" type="text" placeholder="" id="txtFirstName" name="FirstName">
                                                                        </div>
                                                                    </div>

                                                                    <div class="form-group">
                                                                        <label class="control-label visible-ie8 visible-ie9">Last Name <span class="compulsory" style="color:red;">*</span></label>
                                                                        <a href="#" data-toggle="tooltip" title="Enter Last Name" tabindex="-1" style="float:right"><i class="fa fa-question-circle fa-lg"></i></a>
                                                                        <div class="input-icon">
                                                                            <input class="form-control placeholder-no-fix" type="text" placeholder="" id="txtLastName" name="LastName">
                                                                        </div>
                                                                    </div>

                                                                    <div class="form-group">
                                                                        <label class="control-label visible-ie8 visible-ie9">Email Id <span class="compulsory" style="color:red;">*</span></label>
                                                                        <a href="#" data-toggle="tooltip" title="Enter user Email Id" tabindex="-1" style="float:right"><i class="fa fa-question-circle fa-lg"></i></a>
                                                                        <div class="input-icon">
                                                                            <input class="form-control placeholder-no-fix" type="text" placeholder="" id="txtEmail" name="EmailId">
                                                                        </div>
                                                                    </div>

                                                                    <div class="form-group">
                                                                        <label class="control-label visible-ie8 visible-ie9" id="lblContactNumber">Contact No <span class="compulsory" style="color:red;">*</span></label>
                                                                        <a href="#" data-toggle="tooltip" title="Enter user Contact No" tabindex="-1" style="float:right"><i class="fa fa-question-circle fa-lg"></i></a>
                                                                        <div class="input-icon">
                                                                            <input class="form-control placeholder-no-fix" type="text" placeholder="" id="txtContactNumber" name="ContactNumber" onkeypress="return isNumberKey(event)">
                                                                        </div>
                                                                    </div>





                                                                    @*<div class="form-group">
                                                        <label class="control-label visible-ie8 visible-ie9"> Profile <span class="compulsory">*</span></label>
                                                        <div class="input-icon">
                                                            <input type="file" id="file_Uploader" />
                                                        </div>
                                                    </div>*@

                                                                    @*</div>*@

                                                                </div>
                                                                <div class="col-md-4">

                                                                    <div class="form-group">
                                                                        <label class="control-label visible-ie8 visible-ie9">About User </label>
                                                                        <a href="#" data-toggle="tooltip" title="Enter description about User" tabindex="-1" style="float:right"><i class="fa fa-question-circle fa-lg"></i></a>
                                                                        <div class="input-icon">
                                                                            <textarea rows="5" class="form-control placeholder-no-fix" placeholder="" id="AboutUser" name="AboutUser"></textarea>
                                                                        </div>
                                                                    </div>


                                                                    <div class="form-group">
                                                                        <label class="control-label visible-ie8 visible-ie9">Zip Code <span class="compulsory" style="color:red;">*</span></label>
                                                                        <a href="#" data-toggle="tooltip" title="Enter Zipcode" tabindex="-1" style="float:right"><i class="fa fa-question-circle fa-lg"></i></a>
                                                                        <div class="input-icon">
                                                                            <input class="form-control placeholder-no-fix" type="text" placeholder="" id="txtZipCode" name="ZipCode">
                                                                        </div>
                                                                    </div>


                                                                    <div class="form-group">
                                                                        <label class="control-label visible-ie8 visible-ie9">City <span class="compulsory"></span></label>
                                                                        <a href="#" data-toggle="tooltip" title="City name populated automatically based on Zipcode selection" tabindex="-1" style="float:right"><i class="fa fa-question-circle fa-lg"></i></a>
                                                                        <div class="input-icon">
                                                                            <input class="form-control placeholder-no-fix" type="text" placeholder="" id="txtCity" readonly="readonly" name="City">
                                                                        </div>
                                                                    </div>


                                                                    <div class="form-group">
                                                                        <label class="control-label visible-ie8 visible-ie9">State <span class="compulsory"></span></label>
                                                                        <a href="#" data-toggle="tooltip" title="State name populated automatically based on Zipcode selection" tabindex="-1" style="float:right"><i class="fa fa-question-circle fa-lg"></i></a>
                                                                        <div class="input-icon">
                                                                            <input class="form-control placeholder-no-fix" type="text" placeholder="" id="txtState" readonly="readonly" name="State">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="form-group">
                                                                        <label class="control-label visible-ie8 visible-ie9">Country <span class="compulsory"></span></label>
                                                                        <a href="#" data-toggle="tooltip" title="Country name populated automatically based on Zipcode selection" tabindex="-1" style="float:right"><i class="fa fa-question-circle fa-lg"></i></a>
                                                                        <div class="input-icon">
                                                                            <input class="form-control placeholder-no-fix" type="text" placeholder="" id="txtCountry" readonly="readonly" name="Country">
                                                                        </div>
                                                                    </div>

                                                                    <div class="form-group">
                                                                        <label class="control-label visible-ie8 visible-ie9">Address </label>
                                                                        <a href="#" data-toggle="tooltip" title="Enter Address of the user" tabindex="-1" style="float:right"><i class="fa fa-question-circle fa-lg"></i></a>
                                                                        <div class="input-icon">
                                                                            <input class="form-control placeholder-no-fix" type="text" placeholder="" id="txtAddress" name="Address">
                                                                        </div>
                                                                    </div>

                                                                    <div class="form-group">
                                                                        <label class="control-label visible-ie8 visible-ie9"> Organizations <span class="compulsory" style="color:red;">*</span></label>
                                                                        <a href="#" data-toggle="tooltip" title="Select the organizations of the user" tabindex="-1" style="float: right"><i class="fa fa-question-circle fa-lg"></i></a>
                                                                        <div class="input-icon">
                                                                            <select class="form-control placeholder-no-fix" id="Organisationslistbox" multiple="multiple" name="Organisations"></select>
                                                                        </div>
                                                                           
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="control-label visible-ie8 visible-ie9"> Primary Facility <span class="compulsory" style="color:red;">*</span></label>
                                                                        <a href="#" data-toggle="tooltip" title="Select Primary facility of user" tabindex="-1" style="float: right"><i class="fa fa-question-circle fa-lg"></i></a>
                                                                        <div class="input-icon">
                                                                            <select class="form-control placeholder-no-fix selectpicker" id="ddlPrimaryFacility" data-size="5" name="PrimaryFacility"></select>
                                                                            
                                                                        </div>
                                                                    </div>



                                                                </div>

                                                            </div>

                                                            <div class="ruleclass">
                                                                <hr />
                                                            </div>

                                                            @*Tree view*@              <div class="row">
                                                                <div class="col-md-12" id="usersTreeListHolder">

                                                                    <div class="form-group">
                                                                        <label class="control-label visible-ie8 visible-ie9">Other Facilities <span class="compulsory"></span></label>
                                                                        <a href="#" data-toggle="tooltip" title="Enter Other Facilities" tabindex="-1" style="float:right"><i class="fa fa-question-circle fa-lg"></i></a>
                                                                        <div class="row">
                                                                            <div class="col-md-5">
                                                                                <label class="control-label visible-ie8 visible-ie9" style="vertical-align:middle;">Facility Selection <span class="compulsory"></span></label>
                                                                                <br />
                                                                                <div class="" style="border:1px solid black;">
                                                                                    <input type="text" class="form-control" id="input-search" name="SourceTreeviewSearch" placeholder="Type to search..." value="">

                                                                                    <div id="default-tree" style="height: 400px; overflow: scroll;"></div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-2 vcenter" style="height: 400px;">
                                                                                <div class="row">
                                                                                    <div class="col-md-12 padding-10">
                                                                                        <a href="#" id="updateSelections" tabindex="-1" class="btn btn-block btn-sm btn-info">Update List <span class="glyphicon glyphicon-refresh"></span></a>
                                                                                    </div>
                                                                                    <div class="col-md-12 padding-10">
                                                                                        <a href="#" id="SelectAll" class="btn btn-block btn-sm btn-success">Select All <span class="glyphicon glyphicon-ok"></span></a>
                                                                                    </div>
                                                                                    <div class="col-md-12 padding-10">
                                                                                        <a href="#" id="deSelectAll" class="btn btn-block btn-sm btn-danger">De-Select All <span class="glyphicon glyphicon-remove"></span></a>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-5">
                                                                                <label class="control-label visible-ie8 visible-ie9"> Selected Facilities <span class="compulsory"></span></label>
                                                                                <br />
                                                                                <div class="" style="border:1px solid black;">
                                                                                    <input type="text" class="form-control" id="result-input-search" name="DestinationTreeviewSearch" placeholder="Type to search..." />

                                                                                    <div id="result-tree" style="height: 400px; overflow: scroll;"></div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-12 input-icon text-right">
                                                                <div class="row">
                                                                    <div class="col-md-8"></div>
                                                                    <div class="col-md-2">
                                                                        <div class="input-icon checkbox">
                                                                            <label class="control-label">
                                                                                <input type="checkbox" id="chkIsActive" name="IsActive">
                                                                                <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                                                                <b>Activate User</b>
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                        <button type="button" id="btnCancel" class="btn btn-default" style="margin-right: 5px;" onclick="cancelClicked()">Cancel</button>
                                                                        <button type="button" id="btnSubmit" class="btn btn-primary" onclick="submitClicked()">Submit</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-2"></div>
                            </div>
                        </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row" id="popupdiv" style="display: none; padding-left: 30px; padding-right: 30px;">
        <div class="form-group">

            <label class="control-label visible-ie8 visible-ie9">Are you sure want to delete ? </label>

            <div id="errordiv">
                <label id="lblOTP" style="color:red;font-weight:300;margin-top:5px;"> </label>
            </div>
            <input id="Hidden1" type="hidden" />
            <button type="button" id="DeleteConform" class="btn btn-primary" style="margin-top:20px;float:right;" onclick="Delete(Hidden1.value);">Yes</button>&nbsp;&nbsp;
            <button type="button" id="Not_Conform" class="btn btn-default" style="margin-top:20px;float:right;" onclick="NotDelete();">No</button>
        </div>
    </div>
   
@section Bottom{
    <script type="text/javascript">

        //additional methods...
        $.validator.addMethod(
            "regex",
            function(value, element, regexp) {
                var re = new RegExp(regexp);
                return this.optional(element) || re.test(value);
            },
            "Please check your input."
        );

        $.validator.addMethod(
            "dropdownlistForTitle",
            function(value, element, condition) {
                return $(element).val() != 0;
            },
            "Please Select Title "
        );


        $.validator.addMethod(
            "dropdownlistForPrimaryfacility",
            function(value, element, condition) {
                return $(element).val() != 0;
            },
            "Please Select primary Facility "
        );

        $.validator.addMethod(       
            "ListBoxForOrganizations",
            function (value, element, condition) {
                var value = $(element).val() != null;
                if (value)
                {
                    $(":button.multiselect").removeClass("multiselectListError");
                }
                else {
                    $(":button.multiselect").addClass("multiselectListError");
                }
                return value;
            }, 
       " "
        );

        function RecordStatusChange(recid, status) {
            $.showLoading({
                name: 'circle-fade'
            });
            var currentStatus = $('#status_InActive_' + recid + '');
            $.ajax({
                url: '@Url.Action("UpdateUserStatus", "UserDatatables")',
                type: "Get",
                data: { currentRecord: "" + recid + "", currentStatus: "" + status + "" },
                contentType: "application/json; charset=utf-8",
                datatype: "json",
                cache: false,
                success: function(res) {
                    $.hideLoading();
                    callnotify("Record is updated Sucessfully", 2);

                },
                error: function(xhr, ajaxOptions, thrownError) {
                   // alert(xhr.responseText);
                }
            });
        }

        var notes;

        function callnotify(message, type) {
            var msgtype = "success";
            switch (type) {
            case 1:
                msgtype = "success";
                break;
            case 2:
                msgtype = "info";
                break;
            case 3:
                msgtype = "warning";
                break;
            case 4:
                msgtype = "danger";
                break;
            default:
                msgtype = "success";
                break;
            }

            notes.show(message, {
                // 'success', 'info', 'warning', 'danger'
                type: '' + msgtype + ''
            });
        }

        var $defaultTree;
        var $resultTree;

        function performRefresh() {
            $.showLoading({
                name: 'circle-fade'
            });
            var ress = $defaultTree.treeview("getChecked");
            var arr = [];
            for (var i = 0; i < ress.length; i++) {
                var res = {};
                if (ress[i].nodetype === 1) {
                    res.value = ress[i].value;
                    res.text = ress[i].text;
                    res.parent = ress[i].parent;
                    arr.push(res);
                }
            }
            var json = JSON.stringify(arr);
            $.ajax({
                url: '@Url.Action("SubResults", "UserDatatables")',
                type: "Get",
                data: { selections: '' + json + '', currentrecord: '' + recordid + '' },
                contentType: "application/json; charset=utf-8",
                datatype: "json",
                traditional: true,
                cache: false,
                success: function(resultMyTree) {
                    $resultTree = $('#result-tree').treeview({
                        data: resultMyTree,
                        levels: 3,
                        expandIcon: 'glyphicon glyphicon-plus',
                        collapseIcon: 'glyphicon glyphicon-minus',
                        emptyIcon: 'glyphicon',
                        nodeIcon: "glyphicon glyphicon-user",
                        selectedIcon: '',
                        checkedIcon: 'fa fa-check-square-o fa-2x extra-margin',
                        uncheckedIcon: 'fa fa-square-o fa-2x extra-margin',
                        color: '#000000',
                        backColor: '#FFFFFF',
                        borderColor: '#dddddd',
                        onhoverColor: '#F5F5F5',
                        selectedColor: '#FFFFFF',
                        selectedBackColor: '#428bca',
                        searchResultColor: '#FFFFFF',
                        searchResultBackColor: '#a94442',
                        highlightSelected: false,
                        highlightSearchResults: true,
                        showBorder: true
                    });
                    var search = function(e) {
                        var pattern = $('#result-input-search').val();
                        var options = {
                            ignoreCase: true,
                            exactMatch: false,
                            revealResults: true
                        };
                        var results = $resultTree.treeview('search', [pattern, options]);
                    }
                    $('#result-input-search').on('keyup', search);
                    $.hideLoading();
                },
                error: function(xhr, ajaxOptions, thrownError) {
                   // alert(xhr.responseText);
                }
            });
        }

        function updateTreegrid(dorefresh) {
            $('#usersTreeListHolder').show();
            $.showLoading({
                name: 'circle-fade' //circle-fade, line-pulse, jump-pulse, circle-turn, circle-turn-scale, circle-fade, square-flip, line-scale
            });
            $.hideLoading();
            $(function() {

                var selection = $('#Organisationslistbox').val();
                if (selection == undefined) selection = "---";
                var primaryselection = $('#ddlPrimaryFacility').val();
                if (primaryselection == undefined) selection = "---";

                $.ajax({
                    url: '@Url.Action("Result", "UserDatatables")',
                    type: "Get",
                    contentType: "application/json; charset=utf-8",
                    datatype: "json",
                    data: { selectedOrgs: "" + selection + "", selectedPrimary: "" + primaryselection + "", currentrecord: '' + recordid + '', selectExisting: '' + dorefresh + '' },
                    cache: false,
                    success: function(myTree) {

                        $defaultTree = $('#default-tree').treeview({
                            data: myTree,
                            onNodeChecked: function(event, node) {
                                for (var i in node.nodes) {
                                    if (node.nodes.hasOwnProperty(i)) {
                                        var child = node.nodes[i];
                                        $(this).treeview(true).checkNode(child.nodeId, { slient: true });
                                    }
                                }
                            },

                            onNodeUnchecked: function(event, node) {
                                for (var i in node.nodes) {
                                    if (node.nodes.hasOwnProperty(i)) {
                                        var child = node.nodes[i];
                                        $(this).treeview(true).uncheckNode(child.nodeId);
                                    }
                                }
                            },
                            levels: 3,
                            expandIcon: 'glyphicon glyphicon-plus',
                            collapseIcon: 'glyphicon glyphicon-minus',
                            emptyIcon: 'glyphicon',
                            nodeIcon: '',
                            selectedIcon: '',
                            //checkedIcon: 'glyphicon glyphicon-check',
                            checkedIcon: 'fa fa-check-square-o fa-2x extra-margin',
                            //uncheckedIcon: 'glyphicon glyphicon-unchecked',
                            uncheckedIcon: 'fa fa-square-o fa-2x extra-margin-unchecked',
                            color: '#000000',
                            backColor: '#FFFFFF',
                            borderColor: '#dddddd',
                            onhoverColor: '#F5F5F5',
                            selectedColor: '#FFFFFF',
                            selectedBackColor: '#428bca',
                            searchResultColor: '#FFFFFF',
                            searchResultBackColor: '#a94442',
                            enableLinks: false,
                            highlightSelected: false,
                            highlightSearchResults: true,
                            showBorder: true,
                            showIcon: true,
                            showCheckbox: true,
                            showTags: true,
                            multiSelect: true

                        });

                        if (dorefresh) {
                            performRefresh();
                        } else {
                            $('#result-tree').empty();
                            $.hideLoading();
                        }

                        var search = function(e) {
                            var pattern = $('#input-search').val();
                            var options = {
                                ignoreCase: true,
                                exactMatch: false,
                                revealResults: true
                            };
                            var results = $defaultTree.treeview('search', [pattern, options]);
                        }
                        var selectAll = function (e) {
                            UpdateRecordStatusJs(true);
                            $defaultTree.treeview('checkAll', { silent: true });
                            performRefresh();
                        }
                        var deSelectAll = function (e) {
                            UpdateRecordStatusJs(true);
                            $defaultTree.treeview('uncheckAll', { silent: true });
                            performRefresh();
                        }
                        $('#SelectAll').on('click', selectAll);
                        $('#deSelectAll').on('click', deSelectAll);

                        $('#input-search').on('keyup', search);
                        $('#updateSelections').on('click', function () { UpdateRecordStatusJs(true); performRefresh(); });

                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                       // alert(xhr.responseText);
                        $.hideLoading();
                    }
                });
            });
        }

        var _zipId;
        var form;
        var orgval = $("#OrgValue").val();
        var facval = $("#FacValue").val();
       // var adminval = $("#adminhidden").val();

        $(document).ready(function () {
            var x = document.getElementById("Org_Hidden").value;
            Hididng(x)
          //  alert("The value of the hidden input field is: " + x);
            $('[data-toggle="tooltip"]').tooltip();
            notes = $('#notes').notify({
                type: 'notes',
                sticky: true,
                delay: 3000,
                removeIcon: '<i class="fa fa-remove"></i>'
            });

            bindatatables();
            fillOrganisations();
            fillTitles();

            initializeZipCode();
            form = $("#UsersForm").validate({
                debug: true,
                rules: {
                    FirstName: {
                        required: true,
                        minlength: 2,
                        maxlength:20
                      
                    },
                   
                    LastName: {
                        required: true,
                        minlength: 2,
                        maxlength: 20
                    },
                    EmailId: {
                        required: true,
                        email: true,
                        remote:
                        {
                            url: '@Url.Action("CheckIfValidEmail", "UserDatatables")',
                            type: "post",
                            data:
                            {
                                email2: function() {
                                    return $("#txtEmail").val() + '||||' + recordid;
                                }
                            }
                        }
                    },
                    ContactNumber: {
                        required: true,
                        pattern: /^[0-9]{8,15}$/,
                        remote: {
                            url: '@Url.Action("CheckIfValidContactNumber", "UserDatatables")',
                            type: "post",
                            data:
                            {
                                phonenumber: function() {
                                    return $("#txtContactNumber").val() + '||||' + recordid;
                                }
                            }
                        }
                    },
                    ZipCode:
                    {
                        required: true,
                        zipcode: true,
                        remote: {
                            url: '@Url.Action("checkifvalidZipcode", "UserDatatables")',
                            type: "post",
                            delay: 3000,
                            data:
                            {
                                zipcode: function() {
                                    return $("#txtZipCode").val();
                                }
                            }
                        }
                    },
                    Title:
                    {
                        dropdownlistForTitle: true
                    },
                    PrimaryFacility: {
                        dropdownlistForPrimaryfacility: true
                    },
                    Organisations: {
                        ListBoxForOrganizations: true
                    },
                    messages: {
                        FirstName: {
                            required: "First Name Field Is Required!",
                            minlength: "At Least 2 Characters Required!"
                          

                        },
                        LastName: {
                            required: "Last Name Field Is Required! ",
                            minlength: "At Least 2 Characters Required!"
                        },
                        EmailId: {
                            required: "Email Field Is Required!"
                        },
                        ContactNumber: {
                            required: "Contact Number is Required!",
                            pattern: "Contact Number is not valid, please check!"
                        },
                        Organisations: {
                            required: "please Select Organizatonsbfdnfgmg"
                        },
                        ZipCode: {
                            required: "ZipCode is Required!",
                            pattern: "Enter Numbers Only"

                        }
                    }
                }
            });
            if ('@TempData["OpenCreateUser"]' == 'True') {
                CreateNewRecord();
            }
        });


        var selectionchanged;


        function fillOrganisations() {
            $(function() {
                $.ajax({
                    url: '@Url.Action("GetAllOrganisations", "UserDatatables")',
                    type: "Get",
                    contentType: "application/json; charset=utf-8",
                    datatype: "json",
                    cache: false,
                    success: function(organisations) {
                        var options = "";
                        for (var i = 0; i < organisations.length; i++) {
                            var name = organisations[i].Name;
                            options += "<option value=\"" + organisations[i].OrganisationId + "\">" + name + "</option>";
                        }

                        $("#ddlPrimaryFacility").empty().append("<option value=\"0\"> Please Select </option>");
                        $("#ddlPrimaryFacility").change(function () {
                            UpdateRecordStatusJs(true);
                            updateTreegrid(false);
                        });

                        $("#Organisationslistbox").append(options);
                        $('#Organisationslistbox').multiselect({
                            includeSelectAllOption: true,
                            enableFiltering: true,
                            enableCaseInsensitiveFiltering: true,
                            onSelectAll: function() {
                                selectionchanged = true;
                            },
                            onDeselectAll: function() {
                                selectionchanged = true;
                            },
                            onChange: function(element, checked) {
                                selectionchanged = true;
                            },
                            onDropdownHidden: function(event) {
                                if (selectionchanged) {
                                    UpdateRecordStatusJs(true);
                                    bindAllFacilities();
                                }
                            }
                        });
                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                       // alert(xhr.responseText);
                    }
                });
            });
        }


        // var selectionchanged;
        function fillOrganisationsForEdit(org, primaryfacilty, otherfacilities) {

            $(function() {
                $.ajax({
                    url: '@Url.Action("GetAllOrganisations", "UserDatatables")',
                    type: "Get",
                    contentType: "application/json; charset=utf-8",
                    datatype: "json",
                    cache: false,
                    success: function(organisations) {
                        var options = "";
                        for (var i = 0; i < organisations.length; i++) {
                            var name = organisations[i].Name;
                            options += "<option value=\"" + organisations[i].OrganisationId + "\">" + name + "</option>";
                        }
                        $("#Organisationslistbox").empty().append(options);
                        if (org != null) {
                            var dataarray = org.split(",");
                            $("#Organisationslistbox").val(dataarray);
                        }
                        $("#Organisationslistbox").multiselect("refresh");
                        $("#ddlPrimaryFacility").empty().append("<option value=\"0\"> Please Select </option>");
                        bindAllFacilitiesForEdit(primaryfacilty, otherfacilities);
                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                       // alert(xhr.responseText);
                    }
                });
            });
        }


        function fillTitles() {

            $(function() {
                $.ajax({
                    url: '@Url.Action("GetAllTitles", "UserDatatables")',
                    type: "Get",
                    contentType: "application/json; charset=utf-8",
                    datatype: "json",
                    cache: false,
                    success: function(titles) {
                        var options = "<option value=\"0\"> Please Select </option>";
                        // var options = "";

                        for (var i = 0; i < titles.length; i++) {
                            var name = titles[i].Name;
                            options += "<option value=\"" + titles[i].Id + "\">" + name + "</option>";
                        }
                        $("#ddlTitle").append(options);
                        $("#ddlTitle").val("0");
                    }
                });
            });
        }

        function updatefacilitiesOnOrganisationChange(facilityMasters) {
            var primaryfacilitiesoptions = "<option value=\"0\"> Please Select";
            var optgroupvalue;
            var prevoptgroupvalue = "";
            if (facilityMasters != null) {
                for (var i = 0; i < facilityMasters.length; i++) {
                    if (facilityMasters[i] != null) {
                        var optgrouptext;
                        optgroupvalue = facilityMasters[i].OrganisationName;
                        if (optgroupvalue !== prevoptgroupvalue) {
                            if (prevoptgroupvalue !== "") primaryfacilitiesoptions += "</optgroup>";
                            optgrouptext = "<optgroup label=\"" + optgroupvalue + "\">";
                            prevoptgroupvalue = optgroupvalue;
                            primaryfacilitiesoptions += optgrouptext;
                        }
                        var options = facilityMasters[i].FacilityMasterName + "(" + optgroupvalue + ")";
                        primaryfacilitiesoptions += "<option value=\"" + facilityMasters[i].FacilityMasterId + "\">" + options + "</option>";
                    }
                }
            }
            $("#ddlPrimaryFacility").empty().append(primaryfacilitiesoptions);
            selectionchanged = false;
            updateTreegrid(false);
        }

        function updatefacilitiesOnOrganisationChangeForEdit(facilityMasters, primaryfacilty, otherfacilities) {
            var primaryfacilitiesoptions = "<option value=\"0\"> Please Select";
            var optgroupvalue = "";
            var prevoptgroupvalue = "";
            if (facilityMasters != null) {
                for (var i = 0; i < facilityMasters.length; i++) {
                    if (facilityMasters[i] != null) {
                        var optgrouptext;
                        optgroupvalue = facilityMasters[i].OrganisationName;
                        if (optgroupvalue !== prevoptgroupvalue) {
                            if (prevoptgroupvalue !== "") primaryfacilitiesoptions += "</optgroup>";
                            optgrouptext = "<optgroup label=\"" + optgroupvalue + "\">";
                            prevoptgroupvalue = optgroupvalue;
                            primaryfacilitiesoptions += optgrouptext;
                        }
                        var options = facilityMasters[i].FacilityMasterName + "(" + optgroupvalue + ")";
                        primaryfacilitiesoptions += "<option value=\"" + facilityMasters[i].FacilityMasterId + "\">" + options + "</option>";
                    }
                }
            }
            $("#ddlPrimaryFacility").empty().append(primaryfacilitiesoptions);
            $("#ddlPrimaryFacility").val(primaryfacilty);
            $("#ddlPrimaryFacility").change(function() {
                updateTreegrid(false);
                UpdateRecordStatusJs(true);
            });
            updateTreegrid(true);
            selectionchanged = false;
        }

        function bindAllFacilities() {
            var selection = $('#Organisationslistbox').val();

            if (selection == undefined) selection = "---";
            $.ajax({
                url: '@Url.Action("GetMatchingFacilityMasters", "UserDatatables")',
                type: "Get",
                contentType: "application/json; charset=utf-8",
                data: { selectedOrgs: '' + selection + '' },
                datatype: "json",
                cache: false,
                success: function(facilityMasters) {
                    updatefacilitiesOnOrganisationChange(facilityMasters);
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    alert(xhr.responseText);
                }
            });
        }

        function bindAllFacilitiesForEdit(primaryfacilty, otherfacilities) {
            var selection = $('#Organisationslistbox').val();
            if (selection == undefined) selection = "---";
            $.ajax({
                url: '@Url.Action("GetMatchingFacilityMasters", "UserDatatables")',
                type: "Get",
                contentType: "application/json; charset=utf-8",
                data: { selectedOrgs: '' + selection + '' },
                datatype: "json",
                cache: false,
                success: function(facilityMasters) {
                    updatefacilitiesOnOrganisationChangeForEdit(facilityMasters, primaryfacilty, otherfacilities);
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    alert(xhr.responseText);
                }
            });
        }

        function bindatatables() {

            $('#usertable').dataTable({
                destroy: true,
                "columns": [
                    {
                        "data": "ProfileURL",
                        render: function(data, type, row) {
                            var res = data;
                            if (res != null) {
                                return "<img src=\"@Url.Content(@UploadDirectory)/" + res + "\"" + "class=\"img-circle\" title=\"Profile Picture\" style=\"width:50px;height:50px;\">";
                            } else {
                                return '<img src= "@Url.Content(@img)" class="img-circle" style="width:50px;height:50px;">';
                            }
                        }
                    },
                    {
                        "data": "FirstName",
                        render: function(data, type, row) {
                            return row.FirstName + ", " + row.LastName;
                        }
                    },
                    {
                        "data": "EmailId",

                    },
                    {
                        "data": "ContactNumber",
                        render: function(data, type, row) {

                            var phone = data;
                            if (phone != null && phone.length == 10) {
                                phone = phone.substr(0, 3) + '-' + phone.substr(3, 3) + '-' + phone.substr(6, 4);
                                return phone;
                            }
                            return phone;
                        }

                    },
                    {
                        "data": "OrganisationName"
                    },
                    {
                        "data": "IsSuperAdmin",
                        render: function(data, type, row) {
                            if (row.IsSuperAdmin) {
                                return "Super Admin";
                            } else if (row.IsOrganisationAdmin) {
                                return "Organization Admin";
                            } else if (row.IsFacilityAdmin) {
                                return "Facility Admin";
                            } else {
                                return "Standard User";
                            }
                        }
                    },
                    {
                        "data": "IsActive",
                        render: function(data, type, row) {
                            var recordId = row.USERID;
                            var res = data;
                            var activestring = "";
                            var activestringstatus = "";
                            var inactivestring = "";
                            var inactivestringstatus = "";
                            if (res) {
                                activestringstatus = "active";
                                activestring = "checked=\"checked\"";
                            } else {
                                inactivestringstatus = "active";
                                inactivestring = "checked=\"checked\"";
                            }
                            var rendereddata = "<div class=\"btn-group\" id=\"status_div" + recordId + "\" data-toggle=\"buttons\"><label class=\"btn btn-default btn-on-3 btn-sm " + activestringstatus + "\"><input type=\"radio\" id=\"status_Active_" + recordId +
                                "\" onchange=\"RecordStatusChange(" + recordId + ", true)\" name=\"multifeatured_module[module_id][status]\" " + activestring + ">Active</label><label class=\"btn btn-default btn-off-3 btn-sm " + inactivestringstatus + "\"><input type=\"radio\" id=\"status_InActive_" + recordId + "\" onchange=\"RecordStatusChange(" + recordId + ", false)\" name=\"multifeatured_module[module_id][status]\" " + inactivestring + ">Inactive</label></div>";
                            return rendereddata;
                        }
                    },
                    {
                        data: "CreatedDate",
                        render: function(data, type, row) {
                            var res = data;


                            if (res != null) {
                                res = res.replace("/Date(", "").replace(")/", "");
                                var d = new Date(parseInt(res));

                                return appendChars(d.getDate(), 2, "0") + '/' + appendChars((d.getMonth() + 1), 2, "0") + '/' + d.getFullYear() + ' ' + getHours12(d.getHours()) + ':' + TostringForDate(d.getMinutes()) + " " + getMeridiem(d.getHours());
                            }
                            return res;
                        }

                    },
                   
                    
                    {
                        data: "USERID",
                        render: function(data, type, row) {
                            var res = data;
                           
                            return res =
                                "<p align=\"center\">" +
                                
                                "<a href=\"#\">" + "<img src=\"@Url.Content("~/styles/imgs/view_icon2.png")\" title=\"View\" width=\"20\" height=\"20\" border=\"0\" style=\"margin-right:4px\" id=\"btnView_" + res + "\" onclick=\"RecoredEdit(" + res + ",1)\" > " + "</a>" +
                                "<a href=\"#\">" + "<img src=\"@Url.Content("~/styles/imgs/edit_icon.png")\" title=\"Edit\" width=\"20\" height=\"20\" border=\"0\" style=\"margin-right:4px\" id=\"btnEdit_" + res + "\" onclick=\"RecoredEdit(" + res + ",2)\" > " + "</a>" +
                                 "<a href=\"#\" class=\"delete\">" + "<img src=\"@Url.Content("~/styles/imgs/close_icon.png")\" title=\"Delete\" width=\"20\" height=\"20\" border=\"0\" style=\"margin-right:4px\" id=\"btnDelete_" + res + "\" onclick=\"RecordDelete(" + res + ")\">" + "</a>" +
                                //extra +
                                "</p>";


                        }
                    }
                ],
                sAjaxSource: '@Url.Action("UserInfoList", "UserDatatables")',
                "columnDefs": [
                    { "className": "dt-center datatable-cellvalign", "targets": [0, 8] },
                    { "className": "datatable-cellvalign", "targets": "_all" }
                ],
                fnDrawCallback: function (settings) {
                    if (orgval == "1" || facval == "2")
                        $('#ListRow').hide();
                        else
                    $('#ListRow').show();
                   
                   // $.hideLoading();
                }
            });

        }

        function TostringForDate(value) {
            var test = "" + value;
            if (test.length == 1) return "0".concat(test);
            return test;
        }

        function getHours12(value) {
            return TostringForDate((value + 11) % 12 + 1); // edited.
        }


        function getMeridiem(value) {
            return value > 12 ? 'PM' : 'AM';
        }

        function CreateNewRecord() {
         
            $.showLoading({
                name: 'circle-fade'
            });
            recordid = 0;
            ShowHideEdit(false);  //EditRow show
            ShowHideList(true);   //LisrRow hide
            UpdateFields(null);
            $("Form :input").prop("disabled", false);
            $.hideLoading();
            
        }
       
       
        function UpdateFields(user) {
            if (user != null) {
                $('#ddlTitle').val(user.Title);
                $('#txtLastName').val(user.LastName);
                $('#txtFirstName').val(user.FirstName);
                $('#txtEmail').val(user.EmailId);
                $('#txtEmail').attr("disabled", "disabled");
                $('#txtContactNumber').val(user.ContactNumber);
                $('#txtContactNumber').attr("disabled", "disabled");
                fillOrganisationsForEdit(user.Organisations, user.FacilityId, user.UserSelections);
                $('#txtAddress').val(user.Address);
                $('#txtZipCode').val(appendChars(user.SecurityQuestion2, 5, "0"));
                $("#txtCountry").val(user.Country);
                $("#txtState").val(user.State);
                $("#txtCity").val(user.City);
                $('#chkIsSuperAdmin').prop('checked', false);  //set the values
                $('#chkIsOrgAdmin').prop('checked', false);
                $('#chkIsFacilityAdmin').prop('checked', false);
                $('#chkIsNormalUser').prop('checked', false);

                if (user.IsSuperAdmin)
                {
                    $('#chkIsSuperAdmin').prop('checked', user.IsSuperAdmin);
                }
                else if (user.IsOrganisationAdmin) {
                    $('#chkIsOrgAdmin').prop('checked', user.IsOrganisationAdmin);
                }
                else if (user.IsFacilityAdmin) {
                    $('#chkIsFacilityAdmin').prop('checked', user.IsFacilityAdmin);
                }
                else {
                    $('#chkIsNormalUser').prop('checked', user.IsNormalUser);
                }
                
                $('#chkIsActive').prop('checked', user.IsActive);
                $('#AboutUser').val(user.Notes);
            } else {
               
                $("#ddlTitle").val("0");
                $('#txtLastName').val("");
                $('#txtFirstName').val("");
                $('#txtEmail').val("");
                $('#txtEmail').removeAttr("disabled");
                $('#txtContactNumber').val("");
                $('#txtContactNumber').removeAttr("disabled");
                $('#txtAddress').val("");
                $('#txtZipCode').val("");
                $("#txtCountry").val("");
                $("#txtState").val("");
                $("#txtCity").val("");
                $('#chkIsSuperAdmin').prop('checked', false);
                if (orgval == "1") {
                    $('#chkIsOrgAdmin').prop('checked', true);
                    $("#sp1").html("Create New Organization Admin");
                }
               
                else if(facval=="2")
                {
                    $('#chkIsFacilityAdmin').prop('checked', true);
                    $("#sp1").html("Create New Facility Admin");

                }
                else{
                    $('#chkIsNormalUser').prop('checked', true);
                    $("#sp1").html("Create New User");
                }        
                $('#chkIsActive').prop('checked', false);
                $('#AboutUser').val("");
                resetSelections();
                OnLoad();
            }
        }

        function appendChars(value, desiredlength, requiredchar) {
            if (value == null) return value;
            if ((value + "").length >= desiredlength) return value;
            var missing = desiredlength - (value + "").length;
            var res = requiredchar;
            for (var i = 0; i < missing - 1; i++) {
                res += requiredchar;
            }
            return res + value;
        }


        function resetSelections() {
            var $el = $("#Organisationslistbox");
            $('option', $el).each(function (element) {
                $el.multiselect('deselect', $(this).val());
            });
            updatefacilitiesOnOrganisationChange(null);
        }

        var recordid = 0;

        function RecoredEdit(id, pg) {
            if (id != 0 && pg == 1) {
                $("#sp1").html("View User");
            } else if (id != 0 && pg == 2) {
                $("#sp1").html("Edit User");
            }

            $.showLoading({
                name: 'circle-fade'
            });
            recordid = id;
            ShowHideEdit(false);
            ShowHideList(true);
            $(function () {
                $.ajax({
                    url: '@Url.Action("getMatchingUser", "UserDatatables")',
                    type: "Get",
                    cache: false,
                    contentType: "application/json; charset=utf-8",
                    data: { selecteduser: '' + id + '' },
                    datatype: "json",
                    success: function (user) {
                        UpdateFields(user);
                        UpdateStatus(user);
                        $.hideLoading();
                        if (pg == "2") {
                            $("Form :input").prop("disabled", false);
                            $("#updateSelections").attr("disabled", false);
                            $("#SelectAll").attr("disabled", false);
                            $("#deSelectAll").attr("disabled", false);
                            $('#usersTreeListHolder :input').removeAttr('disabled');
                            $("#default-tree").removeClass("divdefaulttree");
                        }
                        else if (pg == "1") {
                            $('#usersTreeListHolder :input').attr('disabled', true);
                            $("#updateSelections").attr("disabled", true);
                            $("#SelectAll").attr("disabled", true);
                            $("#deSelectAll").attr("disabled", true);
                            $("Form :input").prop("disabled", true);
                            $("#btnCancel").prop("disabled", false);
                            $("#default-tree").addClass("divdefaulttree");
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(xhr.responseText);
                    }
                });
            });
        }

        function NotDelete() {
           
            $("#popupdiv").dialog('close');
        }
        function RecordDelete(id) {
            event.preventDefault();
            $("#Hidden1").val(id);
            $("#popupdiv").dialog({
                title: "Delete Confirmation",
                width: 400,
                Height: 400,
                modal: true,

            });
        }
        function Delete(value){
            //   var btn = document.getElementById("lblOTP").innerHTML;
            var adminval = $("#adminhidden").val();
           {
                $(function () {
                    $.ajax({
                        url: '@Url.Action("DeleteSingleuserRecord", "UserDatatables")',
                        type: "Get",
                        contentType: "application/json; charset=utf-8",
                        data: { selecteduser: '' + value + '' },
                        datatype: "json",
                        cache: false,
                        success: function (user) {
                           
                            switch (user) {
                                case "3":
                                    $("#popupdiv").dialog('close');
                                        $.hideLoading();
                                        callnotify("Record is Deleted Successfully", 3);
                                        bindatatables();
                                    break;
                                case "2":
                                    $("#popupdiv").dialog('close');
                                           $.hideLoading();
                                           callnotify("Unable to delete as the user is associated with the group", 4);
                                    break;
                                default:
                                    $("#popupdiv").dialog('close');
                                       $.hideLoading();
                                     callnotify("Unable to delete as the user is having admin rights", 4);
                                    break;
                            }
                           
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            callnotify("Record is Not Deleted", 4);
                            alert(xhr.responseText);
                        }

                    });
                });
            }
        }

        function ResetOtp(id) {
            $.showLoading({
                name: 'circle-fade'
            });
            $(function () {
                $.ajax({
                    url: '@Url.Action("ResetOtp", "UserDatatables")',
                    type: "Get",
                    contentType: "application/json; charset=utf-8",
                    data: { selectedUser: '' + id + '' },
                    datatype: "json",
                    cache: false,
                    success: function (user) {
                        $.hideLoading();
                        if (user == "SUCESS") {
                            callnotify("OTP has been reset successfully and mail has been sent.", 1);
                        } else if (user == "Invalid Email")
                            callnotify("Invalid EmailId", 4);
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(xhr.responseText);
                    }
                });
            });
        }

        function RecordResetPswd(id) {
            $.showLoading({
                name: 'circle-fade'
            });

            $(function () {
                $.ajax({
                    url: '@Url.Action("ResetPswd", "UserDatatables")',
                    type: "Get",
                    contentType: "application/json; charset=utf-8",
                    data: { selecteduser: '' + id + '' },
                    datatype: "json",
                    cache: false,
                    success: function (user) {
                        $.hideLoading();
                        if (user == "SUCESS") {
                            callnotify("Password has been reset successfully and mail has been sent.", 1);
                        } else if (user == "Invalid Email")
                            callnotify("Invalid EmailId", 4);

                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(xhr.responseText);
                    }
                });
            });
        }
       
        $(document).ready(function () {
            $('#EditRow').hide();
        });

        function ShowHideEdit(hide) {
            if (hide) $('#EditRow').hide();
            else $('#EditRow').show();
        }

        function ShowHideList(hide) {
            if (hide) $('#ListRow').hide();
            else $('#ListRow').show();
        }

        function cancelClicked() {

            // form.resetForm();
            bindatatables();
            UpdateRecordStatusJs(false);
            ShowHideEdit(true);  //edit row hide 
            ShowHideList(false);  // list row show
            orgval = null;
            facval = null;
            $('#chkIsOrgAdmin').prop('checked', false);
            $('#chkIsFacilityAdmin').prop('checked', false);
        }
           
        
       

        function initializeZipCode() {
            $("#txtZipCode").autocomplete({
                minLength: 3,
                source: function (request, response) {
                    $.ajax({
                        url: '@Url.Action("GetMatchingZipCodeResult", "Organisation")',
                        data: "{ 'prefix': '" + request.term + "'}",
                        dataType: "json",
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        cache: false,
                        success: function (data) {
                            UpdateRecordStatusJs(true);
                            response($.map(data, function (item) {
                                return {
                                    val: item.split('-')[0],
                                    label: item.split('-')[1] + " - " + item.split('-')[2] + " - " + item.split('-')[3] + " - " + item.split('-')[4],
                                    label2: item.split('-')[1],
                                    country: item.split('-')[2],
                                    state: item.split('-')[3],
                                    value: item.split('-')[1],
                                    city: item.split('-')[4]
                                }
                            }))
                        },
                        error: function (response) {
                            alert(response.responseText);
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        }
                    });
                },
                select: function (e, i) {
                    _zipId = i.item.val;
                    $("#txtZipCode").val(i.item.label2);
                    $("#txtCountry").val(i.item.country);
                    $("#txtState").val(i.item.state);
                    $("#txtCity").val(i.item.city);
                }
            });
        }


        //function ValidateMultiSelectList() {
        //    var orgarray = [];
        //    $('#Organisationslistbox :selected').each(function (i, selected) {
        //        orgarray[i] = $(selected).val();
        //    });

        //    var stste = orgarray.length > 0;
        //    if (stste) {
        //        $(":button.multiselect").removeClass("multiselectListError");
        //    }
        //    else {
        //        $(":button.multiselect").addClass("multiselectListError");
        //    }
        //    return stste;
        //}

        function submitClicked() {
            if ($("#UsersForm").valid()) {
                if ($resultTree != null) {
                    var ress1 = [];
                    var nodeid = 0;
                    var found = false;
                    var node = undefined;
                    do {
                        node = $resultTree.treeview('getNode', nodeid);
                        nodeid++;
                        ress1.push(node);
                        if (node.nodeId != undefined && parseInt(node.domainid) === 1) {
                            found = true;
                        }
                    } while (node.nodeId !== undefined && !found);
                    var arr1 = [];
                    var strarr = [];
                    for (var j = 0; j < ress1.length; j++) {
                        var res1 = {};
                        if (ress1[j].nodetype === 1) {
                            res1.value = ress1[j].value;
                            strarr.push(res1.value);
                            res1.text = ress1[j].text;
                            res1.parent = ress1[j].parent;
                            arr1.push(res1);
                        }
                    }

                    var json1 = JSON.stringify(arr1);
                }
                    var orgarray = [];
                    $('#Organisationslistbox :selected').each(function (i, selected) {
                        orgarray[i] = $(selected).val();
                    });
                  
                    var AllOrgids = [];

                    for (var i = 0; i < orgarray.length; i++)
                    {
                        AllOrgids = AllOrgids.concat(orgarray[i]);
                       
                    }
                    var usermodel = {
                        USERID: recordid,
                        FirstName: $("#txtFirstName").val(),
                        LastName: $("#txtLastName").val(),
                        Title: $("#ddlTitle").val(),
                        EmailId: $("#txtEmail").val(),
                        Address: $("#txtAddress").val(),
                        SecurityQuestion2: $('#txtZipCode').val(),
                        ContactNumber: $("#txtContactNumber").val(),
                        FacilityId: $("#ddlPrimaryFacility").val(),
                        IsActive: $('#chkIsActive').prop('checked'),
                        IsNormalUser: $('#chkIsNormalUser').prop('checked'),
                        IsOrganisationAdmin: $('#chkIsOrgAdmin').prop('checked'),
                        IsSuperAdmin: $('#chkIsSuperAdmin').prop('checked'),
                        IsFacilityAdmin: $('#chkIsFacilityAdmin').prop('checked'),
                        Notes: $("#AboutUser").val(),
                        Country: $("#txtCountry").val(),
                        State: $("#txtState").val(),
                        City: $("#txtCity").val(),
                        ZipId: _zipId,
                        Organisations: orgarray.toString(),
                        OtherFacilityIds: strarr,
                        UserSelections: json1,
                        HiddenValue: orgval,
                        FacHiddenValue: facval,
                        OrganizationsIds: AllOrgids
                    };

                    $(function () {
                        $.ajax({
                            url: '@Url.Action("UpdateUser", "UserDatatables")',
                            type: "POST",
                            contentType: "application/json; charset=utf-8",
                            data: JSON.stringify(usermodel),
                            datatype: "json",
                            async: true,
                            processData: false,
                            cache: false,
                            success: function (response) {
                                if (usermodel.USERID == 0) {


                                    callnotify("New Record Saved Sucessfully", 1);
                                  
                                }
                                else
                                {
                                    callnotify("Record is updated Sucessfully", 2);
                                }
                                bindatatables();
                                UpdateRecordStatusJs(false);
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                callnotify("Record Saving Failed", 4);
                            }
                        });
                    });
                    ShowHideEdit(true);
                    ShowHideList(false);
                    recordid = 0;
                    orgval = null;
                    facval = null;
                    $('#chkIsOrgAdmin').prop('checked', false);
                    $('#chkIsFacilityAdmin').prop('checked', false);
                  
            }
            
           
            }
        

        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode;
            if (charCode != 46 && charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            } else {
                return true;
            }
        }
        function OnLoad() {
         
            $('#Super_Checkbox').hide();
            $('#Org_checkbox').hide();
            $('#Facility_checkbox').hide();

            if(orgval=="1")
            {
                $('#Org_checkbox').show();
            }
            else if(facval=="2")
            {
                $('#Facility_checkbox').show();
            }
            else {
                $('#Normal_Checkbox').show();
            }
           
        }

  function Hididng(Checking)
        {                  
          
            if (Checking == "Organization")
                $('#OrgList').hide();
            else if (Checking == "Facility") {
                $('#OrgList').hide();
                $('#FacilityList').hide();
            }
        }


  function UpdateStatus(user)
  {
      $('#Super_Checkbox').hide();
       $('#Org_checkbox').hide();
      $('#Facility_checkbox').hide();
      $('#Normal_Checkbox').hide();
            if (user.IsSuperAdmin) {
                $('#chkIsSuperAdmin').prop('checked', user.IsSuperAdmin);
                $('#Super_Checkbox').show();
             
            }
            else if (user.IsOrganisationAdmin) {
                $('#chkIsOrgAdmin').prop('checked', user.IsOrganisationAdmin);
                $('#Org_checkbox').show();
            }
            else if (user.IsFacilityAdmin) {
                $('#chkIsFacilityAdmin').prop('checked', user.IsFacilityAdmin);
                $('#Facility_checkbox').show();
            }
            else {
                $('#chkIsNormalUser').prop('checked', user.IsNormalUser);
                $('#Normal_Checkbox').show();
            }
        }
        
        $(document).ready(function()
        {
            //$.showLoading({
            //    name: 'circle-fade' //circle-fade, line-pulse, jump-pulse, circle-turn, circle-turn-scale, circle-fade, square-flip, line-scale
            //});
            if(orgval=="1")
            {
                CreateNewRecord();
                $("#Org_checkbox").show();
                $('#Org_checkbox').prop('checked', true);
                $('#Normal_Checkbox').hide();
              

            }
            else if(facval=="2")
            {
                CreateNewRecord();
                $("#Facility_checkbox").show();
                $('#Facility_checkbox').prop('checked', true);
                $('#Normal_Checkbox').hide();
            }
          
        });

        $(window).bind('beforeunload', function () {
            if (GetRecordStateJs())
                return 'Are you sure that you want to leave the application?';
        });
       
    </script>
}
